window#waybar {
    background: #3B4252; /* base01 */
    color: white;
    border-radius: 20px;
}

#workspaces {
    border: 0px solid #4C566A; /* base03 */
    border-radius: 20px;
    background: #4C566A; /* base03 */
    padding-left: 8px;
    padding-right: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 9px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    color: #ECEFF4; /* base06 */
    font-size: 15px;
}

tooltip {
    background: #434C5E; /* base02 */
}

tooltip label {
    color: #D8DEE9; /* base04 */
}

#workspaces button.empty {
    color: #D8DEE9; /* base04 */
    opacity: 0.5;
}

#workspaces button.active {
    color: #A3BE8C; /* base0B */
}

#workspaces button.urgent {
    color: #BF616A; /* base08 */
}

#workspaces button:hover {
    border: none;
    text-shadow: none;
    background: none;
    box-shadow: none;
}

#custom-Archmenubutton {
    padding-left: 20px;
    padding-right: 25px;
    border-radius: 20px;
    margin: 4px;
    font-size: 20px;
    background: #D8DEE9; /* base04 */
    color: #5e81ac;
}

#window {
    color: #D8DEE9; /* base04 */
    font-size: 16px;
}

#custom-powerbutton {
    background: #BF616A; /* base08 */
    color: #D8DEE9; /* base04 */
    border-radius: 20px;
    margin: 4px;
    padding-left: 20px;
    padding-right: 25px;
    font-size: 20px;
}

#rest {
    background: #2E3440; /* base00 */
    border-radius: 20px;
    margin: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 8px;
}

#clock {
    padding-left: 25px;
    color: #EBCB8B; /* base0A */
}

#wireplumber {
    padding-left: 25px;
    color: #81A1C1; /* base0D */
}

#language {
    padding-left: 25px;
    color: #88C0D0; /* base0C */
}

#tray {
    padding-right: 10px;
}

#custom-clipboard {
    color: #8fbcbb; /* base07 */
}

